/* Keyframes for combined scale and translate animation */
@keyframes scale {
  0% {
    transform: scaleY(1); /* Start slightly scaled down */
  }
  50% {
    transform: scaleY(0.5); /* Scale down at midpoint */
  }
  100% {
    transform: scaleY(1); /* Return to original scale */
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    max-height: 0px;
  }
  to {
    max-height: 253px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes breathing_bg {
  0% {
    background-color: rgb(107, 114, 128, 0.5);
  }
  50% {
    background-color: rgb(209, 213, 219, 0.5);
  }
  100% {
    background-color: rgb(107, 114, 128, 0.5);
  }
}

@keyframes breathing_border {
  0% {
    border-color: rgb(107, 114, 128, 0.5);
  }
  50% {
    border-color: rgb(209, 213, 219, 0.5);
  }
  100% {
    border-color: rgb(107, 114, 128, 0.5);
  }
}
