form.submit input:required:placeholder-shown,
form.invalid input {
  @apply border-red-500;
  &:focus {
    @apply ring-red-300;
  }
  & ~ .input_label {
    @apply text-red-500;
  }
}

.input_label {
  @apply self-center pointer-events-none absolute left-1 origin-bottom-left px-1 transition-transform;
}

input:disabled ~ .input_label {
  @apply text-gray-100;
}

input:focus ~ .input_label {
  @apply text-blue-700;
}

input:focus ~ .input_label,
input:not(:placeholder-shown) ~ .input_label {
  @apply -translate-y-[1.3rem] scale-75 bg-white;
}
