#sidebar {
  --translate-start: -100%;
}
#profile_menu {
  --translate-start: 200%;
}

#sidebar,
#profile_menu {
  transform: translateX(var(--translate-start));
  transition-behavior: allow-discrete;

  &::backdrop {
    background-color: #00000000;
    transition-behavior: allow-discrete;
  }

  &:popover-open {
    transform: translateX(0);

    &::backdrop {
      background-color: rgba(0, 0, 0, calc(var(--backdrop-opacity, 1) * 0.5));
    }

    @starting-style {
      & {
        transform: translateX(var(--translate-start));
      }
      &::backdrop {
        background-color: #00000000;
      }
    }
  }
}
