@import "tailwindcss";

@import "./sidebar.css";

@layer base {
  .htmx-indicator {
    display: none;

    &.htmx-request,
    & .htmx-request {
      display: block;
    }
  }
  *:focus-visible {
    @apply ring-2 ring-blue-300 outline-none;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  select {
    @apply rounded border border-slate-300 p-2 shadow ring-blue-300 transition-all focus:border-blue-700 focus:ring-2;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    scrollbar-gutter: stable both-edges;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .stack {
    display: grid;
    grid-template-areas: "a";
    & > * {
      grid-area: a;
    }
  }
}

input:user-invalid,
select:user-invalid,
form.invalid *:is(input, select) {
  @apply border-red-500;
  &:focus {
    @apply ring-red-300;
  }
  & ~ .input_label {
    @apply text-red-500;
  }
}

input:focus ~ .input_label,
input:not(:placeholder-shown) ~ .input_label,
select:not(:has(option:checked[hidden])) ~ .input_label {
  @apply -translate-y-6 scale-75 bg-white;
}

@keyframes scale {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
