* {
    --nav-offset: 57.5px;
    --vert-nav-offset: 74px;
    background: inherit;
}

body {
    font-family: sans-serif;
}

.vert_nav {
    // &:not(.vert_nav__open, :hover, :focus-within) .vert_nav__label {
    &:not(.vert_nav__open) .vert_nav__label {
        width: 0;
    }
}

.vert_nav__label {
    transition: width 0.1s ease-in-out;
    width: 7rem;
}

.timetable_grid {
    border: 3px solid;
    border-color: unset;

    thead tr {
        border-bottom: 3px solid;
    }

    tbody tr {
        border-bottom: 2px solid;
    }

    td {
        width: calc(100% * 2 / 25);
    }

    td,
    th {
        border: 1px solid;
        &:not(:first-child) {
            border-color: color-mix(in srgb, currentColor 75%, transparent);
        }

        &:nth-of-type(2n + 1):not(:last-of-type)[colspan="2"] {
            border-right-width: 2px;
        }

        &:nth-of-type(2n):not(:last-of-type) {
            border-right-width: 2px;
        }

        &:first-child {
            border-right-width: 3px;
        }
    }
}
