@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gray {
    @apply dark:text-gray-300 text-gray-600;
  }

  .bg-secondary {
    @apply bg-white dark:bg-gray-900;
  }

  .bg-tertiary {
    @apply bg-gray-100 dark:bg-slate-800;
  }

  .top-separator {
    @apply mt-[calc(theme(spacing.2)+1px)] relative before:absolute 
      before:bottom-full before:mb-1 before:inset-x-0 before:h-px 
      before:bg-gray-100 dark:before:bg-gray-600/30 before:pointer-events-none;
  }

  .bg-selections {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  .btn {
    @apply py-2 px-4 font-semibold rounded-lg shadow-md border border-transparent
      focus:ring-2 focus:ring-opacity-75 focus:outline-none 
      disabled:bg-gray-400 disabled:hover:bg-gray-400 disabled:text-white disabled:border-transparent;
  }

  .btn-primary {
    @apply btn bg-indigo-500 text-white hover:bg-indigo-700 focus:ring-indigo-400;
  }

  .btn-primary-outline {
    @apply btn border border-indigo-500 text-indigo-500 hover:bg-indigo-500 
      hover:text-white focus:ring-indigo-400;
  }

  .btn-secondary {
    @apply btn bg-gray-500 text-white hover:bg-gray-700 focus:ring-gray-400;
  }

  .btn-danger {
    @apply btn bg-red-500 text-white hover:bg-red-700 focus:ring-red-400;
  }

  .link {
    @apply hover:bg-selections focus:bg-selections 
      aria-[current=page]:text-indigo-500 transition-colors;
  }

  .peer:not(:placeholder-shown) ~ .input_label {
    @apply scale-75 -translate-y-6 px-1;
  }
  .peer:focus ~ .input_label {
    @apply scale-75 -translate-y-6 px-1 !text-indigo-500;
  }

  .submit-attempt input:invalid {
    @apply !border-red-500;
  }

  .submit-attempt .peer:invalid ~ .input_label {
    @apply !text-red-500;
  }

  .switch_button {
    @apply text-gray-600 hover:text-gray-800 focus:text-gray-800 
      dark:text-gray-400 dark:hover:text-white dark:focus:text-white 
      text-xl p-1 px-3 
      data-[selected]:bg-indigo-400 
      data-[selected]:dark:bg-indigo-500
      data-[selected]:!text-white;
  }

  .dropdown_menu {
    @apply hidden absolute top-10 right-0 z-50 min-w-[10em] max-w-[30em] 
      font-normal text-sm overflow-hidden bg-secondary rounded-md shadow-lg 
      border border-gray-200 dark:border-gray-700;
  }
  .dropdown_menu_button {
    @apply text-gray-600 hover:text-gray-800 focus:text-gray-800 
      dark:text-gray-400 dark:hover:text-white dark:focus:text-white text-xl 
      rounded-md;
  }

  .side_nav__link {
    @apply link h-12 flex items-center overflow-hidden pl-1 focus:outline-none
      rounded max-md:p-2 max-sm:justify-center;
  }
  .side_nav__label {
    @apply ml-2 transition-[width] w-28 max-md:hidden;
  }
  .side_nav {
    @apply z-50 md:sticky md:py-5 md:pl-1 md:content-start md:top-[var(--nav-offset)] 
      md:max-h-[calc(100vh-var(--nav-offset))] max-md:fixed max-md:bottom-0 
      max-md:pb-3 max-md:pt-1 max-md:grid-cols-5 max-md:justify-between max-md:w-screen 
      max-md:border-t max-md:border-gray-500 grid gap-6 overflow-y-auto 
      bg-inherit;
  }
}
