{% macro input(name, display_name, required=false, type="text", autocomplete="off", attrs="", class="" ) %}
  <label class="stack font-thin group-[.invalid]:animate-[shake_0.3s]">
    <input
      id="{{ name }}"
      class="peer {{ class }} disabled:bg-slate-400"
      name="{{ name }}"
      placeholder=""
      type="{{ type }}"
      autocomplete="{{ autocomplete }}"
      {% if required %}required{% endif %}
      {{ attrs | safe }}
    />
    <span
      class="input_label pointer-events-none ml-1 w-fit origin-bottom-left self-center px-1 text-slate-500 transition-all peer-focus:text-blue-700 peer-disabled:text-slate-200"
    >
      {{ display_name }}
    </span>
  </label>
{% endmacro input %}
{% macro select(name, display_name, required=false, options, values, class="", attrs="") %}
  <label class="stack font-thin group-[.invalid]:animate-[shake_0.3s]">
    <select class="peer" name="{{ name }}" {% if required %}required{% endif %}>
      <option value="" selected hidden></option>
      {% for option in options %}
        <option value="{{ values[loop.index0] }}">{{ option }}</option>
      {% endfor %}
    </select>
    <span
      class="input_label pointer-events-none ml-1 w-fit origin-bottom-left self-center px-1 text-slate-500 transition-all peer-focus:text-blue-700 peer-disabled:text-slate-200"
    >
      {{ display_name }}
    </span>
  </label>
{% endmacro select %}
