{% extends "shell.html" %}
{% block title %}
  Class Schedule
{% endblock title %}
{% block main %}
  {% set st_times = ["08:30 AM", "10:20 AM", "12:10 PM", "02:00 PM", "03:50 PM", "05:40 PM"] %}
  {% set en_times = ["10:10 AM", "12:00 PM", "01:50 PM", "03:40 PM", "05:30 PM", "07:20 PM"] %}
  {% set days = ["Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday"] %}
  <div>tootlbar</div>
  <div class="group relative m-10 grid min-w-4xl grid-cols-13 gap-1 2xl:mx-auto 2xl:max-w-[170ch]">
    {% for start in st_times %}
      <div class="col-span-2 flex flex-col items-center rounded-t-lg bg-blue-100 p-2 font-bold first:col-start-2">
        <span class="group-[.hide-idx]:hidden">{{ loop.index }}</span>
        <span class="inline-flex group-[.hide-time]:hidden">{{ start ~ ` ⟶ ` ~ en_times[loop.index0] }}</span>
      </div>
    {% endfor %}
    {% for row in grid %}
      <div class="content-center rounded-l-lg bg-orange-100 p-2 font-bold">
        <span class="max-2xl:hidden">{{ days[loop.index0] }}</span>
        <span class="2xl:hidden">{{ days[loop.index0] | truncate(length=3, end="") }}</span>
      </div>
      {% set_global prev = 0 %}
      {% for class in row %}
        {# Add empty cells #}
        {% for i in range(end=class[0].start_period - prev) %}
          <div class="-z-10 bg-white"></div>
        {% endfor %}
        {% set_global prev = class[0].end_period + 1 %}
        {% set style = ["grid-column: span", class[0].end_period - class[0].start_period + 1, ";"] | join(sep=" ") %}
        {% if class[1] %}
          <div class="grid grid-rows-2 gap-0.5" style="{{ style }}">
            {{ self::class_card(class=class[0], cntr_cls="rounded-t") }}
            {{ self::class_card(class=class[1], cntr_cls="rounded-b") }}
          </div>
        {% else %}
          {{ self::class_card(class=class[0], style=style) }}
        {% endif %}
      {% endfor %}
      {# class in row #}
      {# Add empty cells #}
      {% for i in range(end=12 - prev) %}
        <div class="-z-10 bg-white"></div>
      {% endfor %}
    {% endfor %}
    {# row in grid #}
  </div>
{% endblock main %}
{% macro class_card(class, cntr_cls="rounded", style="") %}
  {% if class.ctype.type == "Lecture" %}
    {% set bg = "bg-red-200 inset-ring-red-400" %}
  {% else %}
    {% set sec_no = ["-", class.ctype.sec_no] | join(sep=" ") %}
    {% set biweekly = class.ctype.week_parity != "Both" %}
  {% endif %}
  {% if class.ctype.type == "Lab" %}
    {% set bg = "bg-blue-200 inset-ring-blue-400" %}
  {% elif class.ctype.type == "Tutorial" %}
    {% set bg = "bg-slate-300 inset-ring-slate-400" %}
  {% endif %}
  <div
    class="{{ cntr_cls }} {{ bg }} flex flex-col justify-center overflow-hidden p-1 px-2 inset-ring-1 shadow-lg"
    style="{{ style }}"
  >
    <span class="inline-flex text-xs">
      <span>[ {{ class.ctype.type }} {{ sec_no | default(value="") }} ]</span>
      <span class="group-[.hide-code]:hidden">{{ class.code }}</span>
      {% if biweekly %}
        <span class="self-end text-xs text-slate-600 italic">biweekly</span>
      {% endif %}
    </span>
    <span class="line-clamp-2 font-bold break-words">{{ class.name }}</span>
    {% if class.ctype.type == "Lecture" %}
      <span class="font-thi truncate text-xs group-[.hide-prof]:hidden">{{ class.ctype.prof }}</span>
    {% endif %}
    <span class="block text-xs group-[.hide-loc]:hidden">
      {{ class.location | fmt_location | replace(from="Building", to="Bldg.") }}
    </span>
  </div>
{% endmacro class_card %}
