{% import "components/input.html" as inp %}
<!doctype html>
<html lang="en" class="bg-slate-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style/style.css" />
    <script src="/assets/js/htmx.min.js"></script>
    <script defer src="/assets/js/main.js"></script>
    {% if get_env(name="ENV", default="") == "DEV" -%}
      <script defer src="/assets/js/hotreload.js"></script>
    {% endif -%}
    <title>Login - Alexandria University</title>
  </head>
  <body hx-ext="multi-swap" hx-boost="true" class="text-gray-900">
    <div class="grid h-[100dvh] content-center justify-center">
      <div class="flex gap-10 rounded-2xl bg-white p-8 shadow-xl max-md:flex-col md:gap-32">
        <div class="flex flex-col items-start gap-5">
          <img class="aspect-[232.433/80] max-md:w-8/12 md:h-20" src="/assets/alexu_logo_ltr.svg" />
          <h1 class="text-2xl font-bold">Log In</h1>
        </div>
        <form
          id="login_form"
          class="group flex flex-col gap-3 pt-8 max-md:min-w-[70vw] md:min-w-[20vw]"
          action="/api/login"
          method="post"
          hx-trigger="submit throttle:200ms"
          hx-post="/api/login"
          hx-swap="text"
          hx-target="#login_error"
          oninput="this.classList.remove('invalid')"
        >
          {{
            inp::input(name=`username`, display_name=`Username or ID`,
            required=true, autocomplete=`username`)
          }}
          <div class="stack items-center">
            {{
              inp::input(name=`password`, display_name=`Password`,
              required=true, type=`password`, autocomplete=`current-password`)
            }}
            <label class="mr-2 cursor-pointer justify-self-end text-lg text-slate-500">
              <input
                class="hidden"
                type="checkbox"
                onchange="document.querySelector('[name=password]').type = event.target.checked  ? 'text' : 'password';"
              />
              {% include "show_hide.svg" %}
            </label>
          </div>
          <span id="login_error" class="h-5 text-sm text-red-400"></span>
          <a href="/forgot_password" class="text-gray mt-5 w-fit text-sm hover:underline">Forgot Password?</a>
          <button
            class="h-10 content-center rounded bg-blue-700 text-white shadow transition hover:bg-blue-800 active:scale-95"
          >
            <span class="hidden h-full p-2 group-[.htmx-request]:block">{% include "spinner.svg" %}</span>
            <span class="font-semibold group-[.htmx-request]:hidden">Log In</span>
          </button>
        </form>
      </div>
    </div>
    <script>
      document.body.addEventListener("htmx:beforeSwap", function (evt) {
        switch (evt.detail.xhr.status) {
          case 401:
            document.getElementById("login_form").classList.add("invalid");
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
            break;
          case 404:
            window.location.href = "/";
        }
      });
    </script>
  </body>
</html>
