{% extends "shell.html" %}
{% block title %}
  Log in
{% endblock title %}
<!-- Remove The nav: -->
{% block nav %}
{% endblock nav %}
{% block body %}
  {{ super() }}
  <script>
    let login_form = document.getElementById("login_form");
    let validate = () => {
      let password = document.querySelector("[name=password]");
      let password2 = document.querySelector("[name=password2]");

      if (password.value !== password2.value && !password2.disabled) {
        password2.setCustomValidity("Passwords do not match");
      } else {
        password2.setCustomValidity("");
      }
    };

    document.body.addEventListener("htmx:beforeSwap", function (evt) {
      if (evt.detail.xhr.status === 400) {
        login_form.classList.add("invalid");
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
      } else if (evt.detail.xhr.status === 404) {
        window.location.href = "/";
      }
    });
    let clear_invalid = () => login_form.classList.remove("invalid");
    let add_submit = () => login_form.classList.add("submit");
    let toggle_password = (event) => {
      let password = document.querySelector("[name=password]");
      let password2 = document.querySelector("[name=password2]");
      password.type = password.type === "password" ? "text" : "password";
      // disable the retype since the user can see the password
      password2.value = null;
      password2.disabled = password2.disabled ? false : true;

      event.currentTarget.classList.toggle("show");
    };
  </script>
{% endblock body %}
{% block mainclass %}
  grid justify-center content-center h-dvh
{% endblock mainclass %}
{% block main %}
  <div class="flex gap-10 rounded-2xl bg-white p-8 shadow-xl max-md:flex-col md:gap-32">
    {% if is_redirect %}
      <p>Login first to access the requested page</p>
    {% endif %}
    <div class="flex flex-col items-start gap-5">
      <img class="aspect-[232.433/80] max-md:w-8/12 md:h-20" src="/assets/alexu_logo_ltr.svg" />
      <h1 class="text-2xl font-bold">Sign Up</h1>
    </div>
    <form
      hx-post="/api/signup"
      hx-indicator="#submit"
      hx-target="#login_error"
      hx-trigger="submit throttle:200ms"
      hx-swap="innerHTML"
      id="login_form"
      class="flex flex-col gap-3 pt-8 max-md:min-w-[70vw] md:min-w-[20vw]"
    >
      <div class="relative flex">
        <input
          class="grow rounded border border-gray-300 p-2 shadow ring-blue-300 transition-all outline-none focus:border-blue-700 focus:ring-2 disabled:bg-gray-300"
          placeholder=""
          name="username"
          id="username"
          autocomplete="username"
          oninput="clear_invalid()"
          hx-get="/api/validate_uname"
          hx-trigger="load,keyup delay:200ms changed"
          hx-target="#valid_user"
          hx-swap="innerHTML"
          hx-indicator="#user_indicator"
          minlength="3"
          required
        />
        <label for="username" class="input_label font-thin text-gray-500">Username</label>
        <div id="user_indicator" class="group absolute right-2 self-center text-lg">
          <div id="valid_user" class="group-[.htmx-request]:hidden"></div>
          <span class="hidden h-[1em] group-[.htmx-request]:block">{% include "spinner.svg" %}</span>
        </div>
      </div>
      {{ cmp::input(name=`email`, display_name=`Email`, required=true, autocomplete=`email`, type=`email`) }}
      {{ cmp::input(name=`name`, display_name=`Full Name`, required=true, autocomplete=`name`) }}
      {{ cmp::input(name=`password`, display_name=`Password`, required=true, type=`password`) }}
      {{ cmp::input(name=`password2`, display_name=`Re-type Password`, type=`password`,) }}
      <span id="login_error" class="h-5 text-sm text-red-400"></span>
      <span class="text-gray flex w-fit pt-1 text-sm">
        Already have and account?&nbsp;<a href="/login" class="underline hover:font-bold">Log In.</a>
      </span>
      <button
        id="#submit"
        class="group h-10 rounded bg-blue-700 text-white shadow hover:bg-blue-800"
        type="submit"
        onclick="add_submit()"
      >
        <span class="mx-auto hidden h-full p-2 group-[.htmx-request]:block">
          {% filter replace(from='svg_spinner', to='another_id') %}
            {% include "spinner.svg" %}
          {% endfilter %}
        </span>
        <span class="font-semibold group-[.htmx-request]:hidden">Create Account</span>
      </button>
    </form>
  </div>
{% endblock main %}
