{% macro icon(icon, class="") %}
{% set icon_data = icon | svg_icon %}
<svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}"
  viewBox="{{ icon_data.view_box | default(value=`0 0 24 24`) }}"
  fill="{{ icon_data.fill | default(value=`currentColor`) }}" x="{{ icon_data.x | default(value=`0`) }}"
  y="{{ icon_data.y | default(value=`0`) }}" {# width="{{ icon_data.width | default(value=`1em`) }}"
  height="{{ icon_data.height | default(value=`1em`) }}" #} width="1em" height="1em"
  stroke-linecap="{{ icon_data.stroke_linecap | default(value=`round`) }}"
  stroke-linejoin="{{ icon_data.stroke_linejoin | default(value=`round`) }}"
  stroke-width="{{ icon_data.stroke_width | default(value=`1`) }}"
  stroke="{{ icon_data.stroke | default(value=`currentColor`) }}" style="{{ icon_data.style | default(value=``) }}">
  {{ icon_data.data | safe }}
</svg>
{% endmacro svg %}


{% macro my_input(name, display_name, required=false, type="text", oninput="", minlength="", hxvalidate="",
autocomplete="off" ) %}
<div class="relative flex group-[.invalid]:animate-[shake_0.3s]">
  <input
    class="grow rounded border-gray-300 disabled:bg-gray-400 border focus:border-blue-700 shadow focus:ring-2 ring-blue-300 p-2 outline-none transition-all"
    placeholder="" name={{ name }} id={{ name }} type={{ type }} autocomplete={{ autocomplete }} {% if oninput %}
    oninput={{ oninput }} {% endif %} {% if required %} required {% endif %} minlength={{ minlength }} {% if hxvalidate
    !="" %} hx-validate={{ hxvalidate }} {% endif %} />
  <label for={{ name }} class="text-gray-500 font-thin input_label">{{ display_name }}</label>

  {% if name == "password" %}
  <label class="text-gray-500 absolute right-2 self-center text-lg">
    <input class="hidden" type="checkbox" id="show_pass"
      onchange="document.querySelector('[name=password]').type = event.target.checked  ? 'text' : 'password';" />
    {% include "show_hide.svg" %}
  </label>
  {% endif %}
</div>
{% endmacro my_input %}


{% macro link(name, url, icon="") %}
<a href="{{ url }}" class="flex gap-4">
  {% if icon != "" %}
  <span>{{ cmp::icon(icon=icon) }}</span>
  {% endif %}
  <span>{{ name }}</span>
</a>
{% endmacro link %}

<button
  class="relative px-1 flex justify-evenly text-center w-12 h-6 group rounded-full transition-all bg-blue-300 dark:bg-slate-900 shadow-xl">
  <div
    class="absolute dark:left-6 left-0 transition-all w-1/2 h-full rounded-full bg-white shadow ring ring-blue-300 dark:ring-slate-900">
  </div>

  {{ cmp::icon(icon="BsMoonStarsFill", class="text-yellow-500 w-5 content-center") }}
  {{ cmp::icon(icon="IoSunny", class="text-yellow-300 text-xl content-center") }}
</button>
